PROJECT_NAME="Xweto Backend API"
API_V1_STR=
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

# Base de données PostgreSQL
DATABASE_URL=

# Paiements
FEDAPAY_API_KEY=
FEDAPAY_ENV=

# OCR / IA
OCR_PROVIDER_API_KEY=

# Notifications multicanal
SMS_PROVIDER_API_KEY=
EMAIL_PROVIDER_API_KEY=